.articles__cnt {
    display: flex;
    flex-direction: column;
}

.articles__cnt h6 {
    margin-top: 130px;
    text-align: center;
    color: #272727;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.articles__cnt__span {
    text-align: center;
    margin-top: 13px;
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.articles__card img {
    width: 380px;
    height: 250px;
    border-radius: 24px 24px 0px 0px;
    background: lightgray 50% / cover no-repeat;
}

.articles__cards {
    margin-top: 30px;
    display: flex;
    gap: 48px;
}

.articles__card {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 633px;
    border-radius: 24px;
    background: #F9F9F9;
}

.articles__card__name {
    padding: 20px 0px 10px 20px;
    color: #272727;
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.articles__card strong {
    padding-left: 20px;
    color: #272727;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /* 30px */
}

.articles__card p {
    padding: 12px 0px 0px 20px;
    color: #272727;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.articles__card__more {
    padding-top: 76px;
    text-align: center;
    color: #FF6B90;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
}

.article__rating {
    margin-top: 65px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.article__rating__line {
    width: 335px;
    height: 1px;
    background: #959595;
}

.article__rating__num {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    border: 1px #959595 solid;
}

.article__rating__text {
    margin-top: 15px;
    text-align: center;
    opacity: 0.61;
    color: #272727;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 19.5px */
}

.article__rating__img {
    width: 132px;
    height: 20px;
    margin: 0 auto;
    padding-top: 20px;
}

.article__social {
    margin: 40px 0px; 
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

@media(max-width: 850px){
    .article__rating__line {
        width: 235px;
    }
}

@media(max-width: 660px){
    .article__rating__line {
        width: 200px;
    }
}

@media(max-width: 590px){
    .article__rating__line {
        width: 124px;
    }

    .article__rating__num {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 49px;
        height: 49px;
        border-radius: 50%;
        border: 1px #959595 solid;
    }
}


@media(max-width:420px) {

    .articles__cnt h6 {
        font-size: 20px;
    }

    .articles__cnt__span {
        font-size: 13px;
    }

    .articles__card img {
        width: 287px;
        height: 250px;
    }

    .articles__cards {
        gap: 25px;
    }

    .articles__card {
        width: 287px;
        height: 572px;
    }

    .articles__card__name {
        font-size: 12px;
        opacity: 0.8;
    }

    .articles__card strong {
        font-size: 14px;
    }

    .articles__card p {
        font-size: 13px;
    }
}